

/*--------------------------------
    1.Start logina-area defult css
-----------------------------------*/
.logina-area .form-area {
    position: relative;
    background:#165150;
    width: 100%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 40px 0 #e1e1e1;
}


/********************MY CSS****************************/
.rules{
    background: rgba(255, 255, 255, 1) !important;
    text-align: right;
    width:100% !important;
}
.rules h1,h2{
    color:#000 !important;
}
.rules ul{
    text-align: right !important;
}
.accept-rules input{
    height: unset !important;
}
.accept-rules{
    color:#165150;
}

/************************************************/
/*************date picker styles*****************/

.datepicker-plot-area{
    border-radius:15px !important;
    font-family:ISMed !important;
}
.datepicker-navigator{
 background-color:#165150;
 height: 38px !important;
 border-radius: 5px;;

}
.pwt-btn{
    background-color: #165150 !important;
    border-radius: 5px !important;
    color:rgb(255, 255, 255) !important;
    margin-top: 3% !important;
}

/************************************************/

.logina-area .form-area .form-content,
.logina-area .form-area .form-input {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.logina-area .form-area .form-content {
    width: 50%;
    padding: 40px 30px;
    background-color:#165150;
}

.logina-area .form-area .form-content h2 {
    color: #fff;
}

.logina-area .form-area .form-content p {
    color: #fff;
}

.logina-area .form-area .form-content ul {
    margin-top: 50px;
    text-align: center;
}

.logina-area .form-area .form-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.logina-area .form-area .form-content a i {
    margin-left: 10px;
}

.logina-area .form-area .form-content .facebook {
    display: block;
    padding: 10px 20px;
    background: #3B579D;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid #3B579D;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.logina-area .form-area .form-content .facebook:hover,
.logina-area .form-area .form-content .facebook:focus {
    background: transparent;
}

.logina-area .form-area .form-content .twitter {
    display: block;
    padding: 10px 20px;
    background: #00ACED;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid #00ACED;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.logina-area .form-area .form-content .twitter:hover,
.logina-area .form-area .form-content .twitter:focus {
    background: transparent;
}

.logina-area .form-area .form-input {
    width: 50%;
    background: #fff;
    padding: 40px 30px;
}

.logina-area .form-area .form-input h2 {
    margin-bottom: 20px;
    color: #07315B;
}

.logina-area .form-area .form-input input {
    position: relative;
    height: 60px;
    padding: 20px 0;
}

.logina-area .form-area .form-input textarea {
    height: 120px;
    padding: 20px 0;
}

.logina-area .form-area .form-input input,
.logina-area .form-area .form-input textarea {
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    color: #07315B;
}

.logina-area .form-area .form-input form .form-group {
    position: relative;
}

.logina-area .form-area .form-input form .form-group label {
    position: absolute;
    text-transform: capitalize;
    top: 20px;
    right: 0;
    pointer-events: none;
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
    transition: all .6s;
    text-align: right;
}

.logina-area .form-area .form-input input:focus ~ label,
.logina-area .form-area .form-input textarea:focus ~ label,
.logina-area .form-area .form-input input:valid ~ label,
.logina-area .form-area .form-input textarea:valid ~ label {
    top: -5px;
    left: 0;
    color: #165150;
    font-size: 12px;
    color: #07315B;
    font-weight: bold;
}

.logina-area .form-area .form-input input:focus,
.logina-area .form-area .form-input textarea:focus,
.logina-area .form-area .form-input input:valid,
.logina-area .form-area .form-input textarea:valid {
    border-bottom: 2px solid #165150;
}

.logina-area .form-area .form-text {
    text-align: right;
    margin-top: 30px;
}

.logina-area .form-area .form-text span a {
    color: #165150;
}

.logina-area .form-area .logina-button {
    margin-top: 30px;
}

.logina-area .form-area .logina-button .logina-btn {
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: #165150;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.logina-area .form-area .logina-button .logina-btn:hover {
    background: #1b6362;
}

/*------------------------
    End logina-area default css
----------------------------*/

/*----------------------------
    2.Start Register.html css
------------------------------*/
.logina-area .register-from {
    min-height: 1000px;
    height:auto;
}

/*----------------------------
    End Register.html css
------------------------------*/

/*----------------------------
    3.Start payment.html css
------------------------------*/
.logina-area .payment-form {
    min-height: 530px;
    height:auto;
}

/*----------------------------
    End payment.html css
------------------------------*/

/*----------------------------
    4.Start reset.html css
------------------------------*/
.logina-area .reset-form {
    min-height: 450px;
    height:auto;
}

/*----------------------------
    End reset.html css
------------------------------*/

/*---------------------------
    5.Start review.html css
------------------------------*/
.logina-area .review-form {
    min-height: 635px;
    height:auto;
}

.logina-area .form-area .rating-area h6 {
    text-align: right;
    font-size: 16px;
}

.logina-area .form-area .rating {
    position: relative;
    text-align: center;
    padding: 15px 0;
}

.logina-area .form-area .rating .rating-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-align: right;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scalex(-1);
}

.logina-area .form-area .rating .rating-wrapper > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.logina-area .form-area .rating .rating-wrapper > label {
    float: right;
    padding-right: 2px;
    padding-left: 2px;
    color: #3C4857;
    cursor: pointer;
}

.logina-area .form-area .rating .rating-wrapper > label {
    padding-top: 0px;
    padding-bottom: 0px;
}

.logina-area .form-area .rating.star .rating-wrapper > label {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
}

.logina-area .form-area .rating.star .rating-wrapper > input:checked ~ label {
    color: #0069D9;
}

.logina-area .form-area .rating.star .rating-wrapper > input:hover ~ label {
    color: #0069D9;
}

.logina-area .form-area .rating .control-label {
    display: inline-block;
    vertical-align: middle;
}

/*---------------------------
    End Review.html css
------------------------------*/

/*---------------------------
    6.Start  contact.html css
------------------------------*/
.logina-area .contact-form {
    min-height: 800px;
    height:auto;
    background-color: #fff;
}

/*---------------------------
    End  contact.html css
------------------------------*/

/*---------------------------
    7.Start  recover.html css
------------------------------*/
.logina-area .recover-from {
    min-height: 300px;
    height:auto;
}

/*---------------------------
    End  recover.html css
------------------------------*/

/*---------------------------
    8.Start  checkout.html css
------------------------------*/
.logina-area .checkout-form {
    min-height: 757px;
    height:auto;
}

.logina-area .checkout-form .form-input select {
    height: 40px;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    font-size: 14px;
    border-radius: 0;
    width: 100%;
    padding: 10px 0;
    padding-right: 10px;
    color: #595959;
    text-transform: capitalize;
}

/*---------------------------
    End  checkout.html css
------------------------------*/

/*---------------------------
    9.Start  search.html css
------------------------------*/
.logina-area .search-from {
    min-height: 290px;
    height:auto;
}

/*---------------------------
    End  search.html css
------------------------------*/

/*---------------------------------------
    10.Start Responsive css
---------------------------------------*/
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .logina-area .form-area .form-content .facebook {
        padding: 5px 10px;
        font-size: 13px;
    }

    .logina-area .form-area .form-content .twitter {
        padding: 5px 10px;
        font-size: 13px;
    }

    .logina-menu .nav-item .nav-link {
        font-size: 13px;
        padding: 20px 9px;
    }

    .logina-area .form-area .rating.star .rating-wrapper > label {
        font-size: 14px;
        padding: 5px 10px;
    }

    .logina-area .checkout-form {
        min-height: 793px;
        height: auto;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logina-area .form-area {
        overflow: visible;
        height: 100%;
    }

    .logina-area .form-area .form-content,
    .logina-area .form-area .form-input {
        float: none;
    }

    .logina-area .form-area .form-input {
        width: 100%;
        min-height: 370px;
        height: auto;
    }

    .logina-area .form-area .form-content {
        width: 100%;
        min-height: 310px;
        height: auto;
    }

    .logina-area .payment-form .form-input {
        min-height: 530px;
        height: auto;
    }

    .logina-area .register-from .form-input {
        min-height: 750px;
        height: auto;
    }

    .logina-area .review-form .form-input {
        min-height: 655px;
        height: auto;
    }

    .logina-area .form-area .rating.star .rating-wrapper > label {
        font-size: 14px;
        padding: 7px 13px;
    }

    .logina-area .contact-form .form-input {
        min-height: 595px;
        height: auto;
    }

    .logina-area .checkout-form .form-input {
        min-height: 1053px;
        height: auto;
    }

    .logina-area .payment-form .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .register-from .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .review-form .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .reset-form .form-input {
        min-height: 450px;
        height: auto;
    }

    .logina-area .contact-form .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .checkout-form .form-content {
        min-height: 340px;
        height: auto;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .logina-area .form-area .form-content .facebook {
        padding: 5px 10px;
        font-size: 13px;
    }

    .logina-area .form-area .form-content .twitter {
        padding: 5px 10px;
        font-size: 13px;
    }

    .logina-area .form-area {
        overflow: visible;
        height: 100%;
    }

    .logina-area .form-area .form-content,
    .logina-area .form-area .form-input {
        float: none;
    }

    .logina-area .form-area .form-content {
        width: 100%;
        min-height: 310px;
        height:auto;
    }

    .logina-area .form-area .form-content ul {
        margin-top: 20px;
    }

    .logina-area .form-area .form-input {
        width: 100%;
        min-height: 409px;
        height: auto;
    }

    .logina-area .payment-form .form-input {
        min-height: 570px;
        height: auto;
    }

    .logina-area .payment-form .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .register-from .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .register-from .form-input {
        min-height: 772px;
        height: auto;
    }

    .logina-area .reset-form .form-input {
        min-height: 450px;
        height: auto;
    }

    .logina-area .review-form .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .review-form .form-input {
        min-height: 619px;
        height: auto;
    }

    .logina-area .form-area .rating.star .rating-wrapper > label {
        font-size: 14px;
        padding: 5px 9px;
    }

    .logina-area .contact-form .form-input {
        min-height: 592px;
        height: auto;
    }

    .logina-area .contact-form .form-content {
        min-height: 340px;
        height: auto;
    }

    .logina-area .checkout-form .form-input {
        min-height: 1092px;
        height: auto;
    }

    .logina-area .checkout-form .form-content {
        min-height: 340px;
        height: auto;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/*---------------------------------------
    End Responsive css
---------------------------------------
